<% include partials/head.ejs %>
<title>Muze</title>

<!--navbar-->
<% include partials/header.ejs %>

<!--Body-->
<main class="home-main js-enabled">
    <div class="icebreaker-overlay icebreaker__close"></div>

    <% if (iceBreakerData.images.length > 0) { %>
    <div class="ice-breaker--msg ice-breaker--msg--active">
        <p>Leanne Graham heeft gereageerd</p>
    </div>

    <div class="icebreaker-r">
        <div class="ice-breaker-r__inner">
            <div class="before-conv">
                <div class="ice-breaker-people"><img src="http://localhost:8000/upload/2.jpg" /><img
                        src="http://localhost:8000/upload/1.jpg" />
                </div>
                <h2>Begin een gesprek</h2>
                <p>Leanne Graham en jij vonden allebei deze onderwerpen interessant</p>
                <div class="iceBreakerData">
                    <div class="iceBreakerData__comparison">
                        <img src="<%= iceBreakerData.images[0] %>">
                        <img src="<%= iceBreakerData.images[1] %>">
                        <img src="<%= iceBreakerData.images[2] %>">
                    </div>
                </div>
            </div>
            <div class="during-conv">
                <div class="conv">
                    <div class="conv__item"><img src="http://localhost:8000/upload/2.jpg" alt="" />
                        <div class="conv__msg">I see you like the banjo ;)</div>
                    </div>
                    <div class="conv__item conv__item--left"><img src="http://localhost:8000/upload/1.jpg" alt="" />
                        <div class="conv__msg">Omg! I do!</div>
                    </div>
                </div>
            </div>
            <button class="btn start-convers">Start conversation</button>
        </div>
    </div>


    <% } %>

    <div class="filters">
        <a class="filter-button">Filter &#8594;</a>
        <form class="filter-options" style="display: none" method="POST" action="/filter" name="filterOptions"
            id="filterOptions">
            <div>
                <input name="sort" type="radio" id="age-descending" value="age-high-low">
                <label for="age-descending">Age (High-Low)</label>
            </div>
            <div>
                <input name="sort" type="radio" id="age-ascending" value="age-low-high">
                <label for="age-ascending">Age (Low-High)</label>
            </div>
            <div>
                <input name="sort" type="radio" id="new" value="new">
                <label for="new">New</label>
            </div>
        </form>
    </div>

    <section class="grid">
        <% for (var index = 0; index < data.length; index++) { %>
        <a class="tile" href="<%= data[index]._id %>">
            <% if (data[index].profile) { %>
            <img alt="<%= data[index].firstname %>" src="/upload/<%= data[index].profile %>">
            <% } %>
            <div class="profile-item-title">
                <h2><%= data[index].firstname + ' ' + data[index].lastname %></h2>
                <h2><%= data[index].age %></h2>
            </div>
        </a>
        <% } %>
    </section>
</main>

<!--Footer-->
<% include partials/footer.ejs %>

<!--Script tags-->
<script src=/home.js> </script> <% include partials/tail.ejs %>