<% include partials/head.ejs %>
<title>Dating app</title>

<!--navbar-->
<% include partials/header.ejs %>

<!--Body-->
<a class="lastLogIn" href="/">Welcome <strong><%= login.firstname%></strong> </a>
<main class="home-main">

    <div class="filters">
        <a class="filter-button">Filter &#8594;</a>
        <form class="filter-options" style="display: none" method="POST" action="/filter" name="filterOptions" id="filterOptions">
            <div>
                <input name="sort" type="radio" id="age-descending" value="age-high-low">
                <label for="age-descending">Leeftijd (hoog-laag)</label>
            </div>
            <div>
                    <input name="sort" type="radio" id="age-ascending" value="age-low-high">
                    <label for="age-ascending">Leeftijd (laag-hoog)</label>
                </div>
            <div>
                <input name="sort" type="radio" id="new" value="new">
                <label for="new">Nieuw</label>
            </div>
        </form>
    </div>

    <section class="grid">
        <% for (var index = 0; index < data.length; index++) { %>
            <a class="tile" href="<%= data[index]._id %>">
                <% if (data[index].profile) { %>
                    <img alt="<%= data[index].firstname %>" src="/upload/<%= data[index].profile %>">
                <% } %>
                <div class="profile-item-title">
                    <h2><%= data[index].firstname + ' ' + data[index].lastname %></h2>
                    <h2><%= data[index].age %></h2>
                </div>
            </a>
        <% } %>
    </section>
</main>

<!--Footer-->
<% include partials/footer.ejs %>

<!--Script tags-->
<script src=/home.js></script>
<% include partials/tail.ejs %>
