<% include partials/head.ejs %>
<title><%= data.name %> - Dating app</title>

<!--navbar-->
<% include partials/header.ejs %>

<!--Body-->
<main class="profile-main">
    <section class="profile-tile">
        <% if (data.profile) { %>
        <img alt="<%= data.name %>" class="profile-picture" src="/upload/<%= data.profile %>">
        <% } %>
        <div class="profile-item-title">
            <h2><%= data.firstname + ' ' + data.lastname %></h2>
            <h3><%= data.age %></h3>
        </div>
        <div class="profile-item-content">
            <div>
                <p>Woonplaats:</p>
                <p><%= data.location %></p>
            </div>
            <div class="bio">
                <p>Bio:</p>
                <p><%= data.bio %></p>
            </div>
            <button id=js-remove data-id="<%= data._id %>" class=danger>Verwijder</button>
            <p class="js-delete">Het profiel kon niet verwijderd worden!</p>
        </div>
    </section>
</main>

<!--Footer-->
<% include partials/footer.ejs %>

<!--Script tags-->
<% include partials/tail.ejs %>