<% include partials/head.ejs %>
<title><%= data.name %> - Dating app </title>

<!--navbar-->
<% include partials/header.ejs %>
<div class="session">

  <%if (user.profile !== null) {%>
    <img class="sessionImage" src="/upload/<%= user.profile%>" alt="musician">
  <%}
  else {%>
    <img class="sessionImage" src="img/musician.jpg" alt="musician">
<%  }%>

<% if (user.firstname == user.firstname) {%>
  <a class="lastLogIn" href="/<%= user._id %>">Welcome <strong><%= user.firstname%></strong> </a>
<%}%>
</div>
<!--Body-->
<main class="profile-main no-js">
    <div class="icebreaker-overlay icebreaker__close"></div>
    <section class="profile-tile">
        <% if (data.profile !== null) { %>
        <img alt="<%= data.name %>" class="profile-picture" src="/upload/<%= data.profile %>">
        <% }
        else {%>

          <img class="profile-picture" src="img/musician.jpg" alt="musician">
      <%  }%>
        <div class="profile-intro__right">
            <img src="/img/icons/heart.svg" alt="">
            <img src="/img/icons/chat.svg" alt="" class="icebreaker__open">
            <img src="/img/icons/match-meter.svg" alt="">
        </div>
        <div class="profile-item-title">
            <h2><%= data.firstname + ' ' + data.lastname %></h2>
            <h3><%= data.age %></h3>
        </div>
        <div class="profile-item-content">
            <div>
                <p>Woonplaats:</p>
                <p><%= data.location %></p>
            </div>
            <div class="bio">
                <p>Bio:</p>
                <p><%= data.bio %></p>
            </div>
            <div class="profile-interests">


            <% if (data.genre) { %>
            <div class="genre">
                <p>Genre:</p>
                <p><%= data.genre %></p>
            </div>
            <% } %>

            <% if (data.instrument) { %>
            <div class="instrument">
                <p>Instrument:</p>
                <p><%= data.instruments %></p>
            </div>
            <% } %>


            <% if (data.specialize) { %>
            <div class="specialize">
                <p>Specialize:</p>
                <p><%= data.specialize %></p>
            </div>
            <% } %>
</div>
            <button id=js-remove data-id="<%= data._id %>" class=danger>Verwijder</button>
            <p class="js-delete">Het profiel kon niet verwijderd worden!</p>
        </div>
    </section>
    <article class="icebreaker" id="icebreaker"><progress value="16.6" max="100"></progress>
        <div class="icebreaker__inner">
            <h2>Ice-breaker</h2>
            <p class="ice-sub">Which one do you prefer</p>
            <form action="/icebreaker" method="post">
                <fieldset class="active">
                    <legend>Choose one</legend>
                    <label for="piano">
                        <input class="ice-q" type="radio" name="one" value="piano" id="piano">
                        <img src="/img/icebreaker/piano.jpg" alt="piano">
                    </label>
                    <label for="guitar">
                        <input class="ice-q" type="radio" name="one" value="guitar" id="guitar">
                        <img src="/img/icebreaker/gituar.jpg" alt="guitar">
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Choose one</legend>
                    <label for="outside">
                        <input class="ice-q" type="radio" name="two" value="outside" id="outside">
                        <img src="/img/icebreaker/outside.jpg" alt="outside">
                    </label>
                    <label for="party">
                        <input class="ice-q" type="radio" name="two" value="party" id="concert">
                        <img src="/img/icebreaker/party.jpg" alt="concert">
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Choose one</legend>
                    <label for="vynil">
                        <input class="ice-q" type="radio" name="three" value="vynil" id="vynil">
                        <img src="/img/icebreaker/vynil.jpg" alt="vynil">
                    </label>
                    <label for="digital">
                        <input class="ice-q" type="radio" name="three" value="digital" id="digital">
                        <img src="/img/icebreaker/phone.jpg" alt="digital">
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Choose one</legend>
                    <label for="computer">
                        <input class="ice-q" type="radio" name="four" value="computer" id="computer">
                        <img src="/img/icebreaker/producer.jpg" alt="producer">
                    </label>
                    <label for="analog">
                        <input class="ice-q" type="radio" name="four" value="analog" id="analog">
                        <img src="/img/icebreaker/switches.jpg" alt="switches">
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Choose one</legend>
                    <label>
                        <label for="rock">
                            <input class="ice-q" type="radio" name="five" value="rock" id="rock">
                            <img src="/img/icebreaker/drum.jpg" alt="drums">
                        </label>
                        <label for="classic">
                            <input class="ice-q" type="radio" name="five" value="classic" id="classic">
                            <img src="/img/icebreaker/orchestra.jpg" alt="orchestra">
                        </label>
                    </label>
                </fieldset>
                <fieldset>
                    <p class="feedback">Je hebt alle vragen beantwoord. Jouw ijsbreker zal worden verstuurd naar
                        <%= data.firstname + ' ' + data.lastname %>
                    </p>
                    <input type="submit" value="Verstuur ice-breaker">
                </fieldset>
            </form><button class="icebreaker__back icebreaker__close">Ga terug</button>
        </div>
    </article>
</main>



<!--Footer-->
<% include partials/footer.ejs %>

<!--Script tags-->
<% include partials/tail.ejs %>
