<% include head.ejs %>
<title><%= data.name %> - Dating app</title>

<!--navbar-->
<% include header.ejs %>

<!--Body-->
<main class="profile-main">
    <section>
        <% if (data.profile) { %>
            <img alt="<%= data.name %>" class="profile-picture" src="/upload/<%= data.profile %>">
        <% } %>
        <h1><%= data.name %></h1>
        <p><%= data.age %></p>
        <button id=js-remove data-id="<%= data.id %>" class=danger>Remove</button>
    </section>
</main>


<!--Script tags-->
<% include tail.ejs %>