<% include partials/head.ejs %>
<title><%= data.name %> - Dating app</title>

<!--navbar-->
<% include partials/header.ejs %>

<!--Body-->
<main class="profile-main no-js">
    <div class="icebreaker-overlay icebreaker__close"></div>
    <section class="profile-tile">
        <% if (data.profile) { %>
        <img alt="<%= data.name %>" class="profile-picture" src="/upload/<%= data.profile %>">

        <% } %>
        <div class="profile-intro__right">
            <img src="/img/icons/heart.svg" alt="">
            <img src="/img/icons/chat.svg" alt="" class="icebreaker__open">
            <img src="/img/icons/match-meter.svg" alt="">
        </div>
        <div class="profile-item-title">
            <h2><%= data.firstname + ' ' + data.lastname %></h2>
            <h3><%= data.age %></h3>
        </div>
        <div class="profile-item-content">
            <div>
                <p>Woonplaats:</p>
                <p><%= data.location %></p>
            </div>
            <div class="bio">
                <p>Bio:</p>
                <p><%= data.bio %></p>
            </div>
            <% if (data._id == user._id) { %>
                <button id=js-remove data-id="<%= data._id %>" class=danger>Verwijder</button>
                <p class="js-delete">Het profiel kon niet verwijderd worden!</p>
            <% } %>
        </div>
    </section>
    <article class="icebreaker" id="icebreaker"><progress value="16.6" max="100"></progress>
        <div class="icebreaker__inner">
            <h2>Ice-breaker</h2>
            <p class="ice-sub">Which one do you prefer</p>
            <form action="/icebreaker" method="post">
                <div class="icebreaker-option">or</div>
                <fieldset class="active">
                    <legend>Choose one</legend><label for="party"><input class="ice-q" type="radio" name="q1"
                            value="party" id="party" /><img src="/img/icebreaker/party.jpg" alt="party" /></label><label
                        for="camping"><input class="ice-q" type="radio" name="q1" value="camping" id="camping" /><img
                            src="/img/icebreaker/camping.jpg" alt="camping" /></label>
                </fieldset>
                <fieldset>
                    <legend>Choose one</legend><label for="yoga"><input class="ice-q" type="radio" name="q2"
                            value="yoga" id="yoga" /><img src="/img/icebreaker/yoga.jpg" alt="yoga" /></label><label
                        for="gym"><input class="ice-q" type="radio" name="q2" value="gym" id="gym" /><img
                            src="/img/icebreaker/gym.jpg" alt="gym" /></label>
                </fieldset>
                <fieldset>
                    <legend>Choose one</legend><label for="winter"><input class="ice-q" type="radio" name="q3"
                            value="winter" id="winter" /><img src="/img/icebreaker/winter.jpg"
                            alt="winter" /></label><label for="desert"><input class="ice-q" type="radio" name="q3"
                            value="desert" id="desert" /><img src="/img/icebreaker/desert.jpg" alt="desert" /></label>
                </fieldset>
                <fieldset>
                    <legend>Choose one</legend><label for="city"><input class="ice-q" type="radio" name="q4"
                            value="city" id="city" /><img src="/img/icebreaker/city.jpg" alt="city" /></label><label
                        for="trees"><input class="ice-q" type="radio" name="q4" value="trees" id="trees" /><img
                            src="/img/icebreaker/flower-trees.jpg" alt="trees" /></label>
                </fieldset>
                <fieldset>
                    <legend>Choose one</legend><label for="cake"><input class="ice-q" type="radio" name="q5"
                            value="cake" id="cake" /><img src="/img/icebreaker/cake.jpg" alt="cake" /></label><label
                        for="egg"><input class="ice-q" type="radio" name="q5" value="egg" id="egg" /><img
                            src="/img/icebreaker/egg.jpg" alt="egg" /></label>
                </fieldset>
                <fieldset>
                    <p class="feedback">Je hebt alle vragen beantwoord. Jouw ijsbreker zal worden verstuurd naar <a
                            href="#">Amelia Cabal</a></p><input type="submit" value="Verstuur ice-breaker" />
                </fieldset>
            </form><button class="icebreaker__back icebreaker__close">Ga terug</button>
        </div>
    </article>
</main>



<!--Footer-->
<% include partials/footer.ejs %>

<!--Script tags-->
<% include partials/tail.ejs %>